@font-face {
  font-family: Debussylikefont;
  src: url(../assets/AntipastoPro-ExtraBold_trial.ttf);
}
#matchmaking {
  display: flex;
  flex-direction: column;
  row-gap: 15rem;
  justify-content: center;
  align-items: center;
}
body {
  background: #221d24;
}
#matchmaking h1 {
  color: #add8e6;
  font-family: "Debussylikefont";
  font-size: 50px;
}
#matchmaking h1:nth-child(1) {
  font-size: 70px;
}
#matchmaking h1 span {
  color: #ffb6c1;
}
#matchmaking video {
  width: 25%;
  height: auto;
}
div#Game {
  width: 100vw;
  height: 100vh;
  display: flex;
  background: #332f37;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.game img {
  width: 600px;
  height: 600px;
  margin-bottom: 10%;
  border-radius: 10px;
  position: relative;
  filter: drop-shadow(0px 0px 8rem #540a7630);
  z-index: 3;
}
div#container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
div#result {
  position: absolute;
  width: 600px;
  height: 600px;
  bottom: 18%;
  display: flex;
  justify-content: center;
  padding-bottom: 5%;
  align-items: center;
  opacity: 0;
  animation: forwards linear 0.6s fadeIn;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
