<!DOCTYPE html>
<html lang="en">
<head>
    <meat charset="utf-8"></meat>
    <title>Lobby</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">

    <style>
     
    </style>
</head>
</html>
<body style="background-color: black;">

    <script src="/socket.io/socket.io.js"></script>
    <script>
        const socket = io('/menu');
        join_public();
        function join_public() {
            let username = "player";
            if(username == null || username == "") {
                alert("Enter your username");
                return;
            }

            socket.emit('join_public', username)
            socket.on('public_validation', (validate, message) => {
                if (validate == 1) {
                    window.location.href = 'public/' + username;
                    // <p>waiting</p> 
                } else {
                    alert(message);
                    return;
                }
            });

            socket.emit('join_public', username);

        socket.on('public_validation', (validate, message) => {
            if (validate == 1) {
                // Show waiting message
                document.querySelector('.waiting').style.display = 'block';

                // Redirect after the second player joins
                socket.on('public_start', () => {
                    window.location.href = 'public/' + username;
                });
            } else {
                alert(message);
                return;
            }
        });
        }
        function create_private() {
            let username = document.getElementById("username").value;
            if (username == null || username == "") {
                alert("Enter your username")
                return;
            }

            let room_code = window.prompt("Enter the room code to create", "");
            if(room_code == null || room_code == "") {
                alert("Room code is empty");
                return;
            }
            if(room_code === "public") {
                alert("You cannot use that name as room code");
                return;
            }

            socket.emit('create_private', username, room_code)
            socket.on('create_validation', (validate, message) => {
                if (validate == 1) {
                    window.location.href = 'private/' + room_code + '/' + username;
                } else {
                    alert(message);
                    return;
                }
            });
        }
        
        function join_private() {
            let username = document.getElementById("username").value;
            if (username == null || username == "") {
                alert("Enter your username")
                return;
            }

            let room_code = window.prompt("Enter the room code to join", "");
            if(room_code == null || room_code == "") {
                alert("Room code is empty");
                return;
            } 

            if(room_code === "public") {
                alert("You cannot use that name as room code");
                return;
            }
            
            socket.emit('join_private', username ,room_code);
            socket.on('join_validation', (validate, message) => {
                if (validate == true) {
                    window.location.href = 'private/' + room_code + '/' + username;
                } else {
                    alert(message);
                    return;
                }
            })
        }

        function mOver(obj) {
            obj.style.fontSize = "25px";
            obj.innerHTML =  " \
            <b><br />Created at</b> <br /> \
            DigiPen Institutue of Technology<br /><br /> \
            <b>* PROGRAMMER *</b><br /> \
            Woonggi Eun<br /><br /> \
            <b>* FACULTY *</b><br />\
            Matthew Picioccio<br /> \
            Andrew Kaplan <br /> \
            Jen Sward<br /><br />\
            <b>* PRESIDENT *</b><br /> \
            Claude Comair<br /><br /> \
            <b>* EXECUTIVES *</b><br /> \
            <small>Jason Chu  Samir About Samra  Michele Comair<br /> \
            Angela Kugler  Erik Mohrmann<br /> \
            Benjamin Ellinger  Melvin Gonsalvez</small><br /> \
            <br /><br /><br />\
            <small>WWW.DIGIPEN.EDU <br />\
            COPYRIGHT © 2020 BY DIGIPEN (USA), LLC. ALL RIGHTS RESERVED</small><br />\
            ";
            document.getElementById("logo").src = "https://teenlife.s3.amazonaws.com/media/uploads/listings/n5XLmrKJpG00.png";
            document.getElementById("logo").width = "120";
            document.getElementById("logo").height = "65";
        }
        function mOut(obj) {
            obj.style.fontSize = "30px"
            obj.innerHTML = "<u><br/>Credit<u>";
            document.getElementById("logo").src = "";
            document.getElementById("logo").width = "0";
            document.getElementById("logo").height = "0";
        }

    </script>

    <!-- <div class="center-contents">
        <h1 class="headcolor" >Ping Pong Game</h1>
        <div class="username_input">
            <input class="inputbox" id="username" name="username" type="text" placeholder="username">
        </div>
        <button onclick="join_public();">start game</button>
        
    </div> -->
</body>