@font-face {
    font-family: myFont;
    src: url(./Regular.ttf);
}


:root{
    /* --font-family-heading: "xudo"; */
    --font-family-heading: myFont;
    --bg-color: #111111;
}
.center-contents {
    font-family :'myFont';
    text-align: center;
}

h1 {
    font-family :'myFont';
    font-size: 70px;
    padding-top: 50px;
    padding-bottom: 50;
}



      
       
        .username_input {
            padding-bottom: 15px;
        }
        .credit {
            margin: auto 0;
        }
        #logo {
            padding-top : 200px;
        }
        

        .headcolor{
            animation: neoncolorwait 1.5s infinite alternate; /* Neon animation */
        }

        @keyframes neoncolorwait {
            0% {
                color: #00ff00; /* Neon green at start */
                text-shadow: 0 0 50px #00ff00;
            }
            100% {
                color: #ff00ff; /* Neon magenta at end */
                text-shadow: 0 0 50px #ff00ff;
            }
        }