@font-face {
  font-family: Debussylikefont;
  src: url(./assets/AntipastoPro-ExtraBold_trial.ttf);
}
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 100vh;
  background: black;
}
img.image {
  width: 400px;
  animation: fadeIn 1.5s ease-in-out forwards;
  opacity: 0;
  border-radius: 169px;
}

div#homecontainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
#homecontainer p {
  color: #ffffffcf;
  font-size: 24px;
  font-family: "Titan one";
  font-weight: 100;
}
.nsm7Bb-HzV7m-LgbsSe.jVeSEe.i5vt6e-Ia7Qfc.uaxL4e-RbRzK {
  background: black;
  color: white;
}

.fmcmS {
  color: white;
  margin-top: 1%;
}
#login,
#logout {
  background-color: rgb(0 0 0);
  display: inline-flex;
  align-items: center;
  color: rgb(255 255 255);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 2px 2px 0px,
    rgba(0, 0, 0, 0.24) 0px 0px 1px 0px;
  padding: 0px;
  font-size: 20px;
  font-weight: 100;
  font-family: sans-serif;
  margin-top: 2%;
  border: white solid 4px;
  border-radius: 15px;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes animatedBackground {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 100% 100%;
  }
}
div#form {
  width: 100vw;
  display: flex;
  animation: animatedBackground infinite 5s linear;
  height: 100vh;
  background: linear-gradient(142deg, #201545, #7b294899);
  flex-direction: column;
  background-size: 200% 200%;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#form h1 {
  font-size: 55px;
  bottom: 10%;
  cursor: pointer;
  position: relative;
  font-family: "Debussylikefont";
  line-height: 117%;
  opacity: 0;
  animation: fadeIn 0.5s ease-in-out forwards;
  color: #add8e6;
}

#form h1 span {
  color: #ffb6c1;
  opacity: 0;
  animation: fadeIn 0.5s ease-in-out forwards;
}
.box {
  width: 35%;
  min-height: 15rem;
  border: #a99b9b 3px solid;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 1% 0;
  flex-direction: column;
  backdrop-filter: blur(12px);
  opacity: 0;
  animation: fadeIn 0.5s ease-in-out forwards;
  border-radius: 19px;
}
.box h2 {
  font-size: 40px;
  font-family: "Debussylikefont";
  opacity: 0;
  animation: fadeIn 0.5s ease-in-out forwards;
  color: #dfd4c5;
  margin: 1rem 0;
}
.box input {
  font-size: 19px;
  font-family: "poppins", sans-serif;
  font-weight: 600;
  padding: 1px 1em;
}
.sa {
  display: flex;
  justify-content: center;
  opacity: 0;
  align-items: center;
  flex-direction: column;
  animation: fadeIn 0.5s ease-in-out forwards;
  margin: 2%;
}
.sa button {
  padding: 2% 8%;
  font-size: 19px;
  font-weight: 600;
  background-color: white;
  font-family: "Poppins";
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.sa button:hover {
  color: maroon;
  background-color: #ffb6c1;
}
.sa button,
.sa input:focus-visible,
.sa input {
  border: 3px solid darkslategrey;
  padding: 2% 8%;
  stroke: none;
  outline: none;
  border-radius: 9px;
}
.sa button {
  border-left: #201545 3px solid;
}
.flexbox {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.flexbox input {
  width: 65%;
}

.sa input {
  width: 130%;
}
.head {
  font-family: "Debussylikefont";
  font-size: 55px;
  margin-bottom: 3%;
  color: #add8e6;
}
.head span {
  color: #ffb6c1;
}
input.guess {
  width: 3rem;
  font-size: 30px;
  text-align: center;
  background: transparent;
  border: none;
  color: white;
  border-bottom: 6px white solid;
  margin: 0 1%;
}
input.guess:focus-visible {
  outline: none;
  stroke: none;
}
.guess {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
div#resultcontent {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  row-gap: 2%;
  flex-direction: column;
}

#resultcontent h1 {
  font-size: 60px;
  color: #add8e6;
  font-family: "Debussylikefont";
}

#resultcontent h1 span {
  color: #ffb6c1;
}
#timer p {
  color: white;
  font-size: 50px;
  font-family: "poppins", sans-serif;
  font-weight: 600;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  column-gap: 2%;
  text-align: center;
  margin-bottom: 50%;
}
div#timer {
  display: flex;
}

#timer p span {
  background: #45403e;
  min-width: 75px;
  border-radius: 7px;
}
.win-streak-images img {
  width: 230px;
  filter:drop-shadow(0px 0px 1rem black) brightness(85%) blur(0.75px) ;
  position: absolute;
  transform: translate(-50%,-50%);
  bottom: 0;
  opacity: 0.87;
}
.win-streak-images h4 {
  color: white;
  font-size: 40px;
  font-family: 'Poppins';
  word-wrap: none;
  position: relative;
  left: 8rem;
}